.place__paragraph-last {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}
@media screen and (max-width: 1279px) {
  .place__paragraph-last {
    width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph-last {
    font-size: 16px;
    width: 352px;
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph-last {
    font-size: 16px;
    width: 288px;
    padding-bottom: 0;
    padding-left: 16px;
  }
}
